<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]" class="button1">
        <ion-icon name="add-outline"></ion-icon>
        Añadir
      </ion-button>
    </ion-buttons>
    <ion-title>
      FÚTBOL INGLÉS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card">
  <div id="container">
    <ion-card *ngFor="let partidos of partidos">
      <br>
      <img src="assets/img/equipos.jpg" height="100" width="200" />
      <ion-card-content>
        <ion-card-title>
          {{ partidos.eq_casa }} vs {{ partidos.eq_visita }}
        </ion-card-title>
      </ion-card-content>
      {{ partidos.marcador_casa }} - {{partidos.marcador_visita}}
      <br>
      <ion-button [routerLink]="['./', partidos.id_part]" class="button2">
        <ion-icon name="locate-outline"></ion-icon>
        Detalles
      </ion-button>
      <ion-button outline (click)="update(partidos.id_part)" class="button3">
        <ion-icon name="create-outline"></ion-icon>
        Editar
      </ion-button>
      <ion-button outline block (click)="accion1()" class="button4">
        <ion-icon name="stopwatch-outline"></ion-icon>
        Detener
      </ion-button>
      <ion-card *ngIf="ocultar1">
        <ion-card-header>
          El partido finalizó
        </ion-card-header>
        <ion-card-content>
          {{ partidos.eq_casa }} {{ partidos.marcador_casa}} vs {{ partidos.marcador_visita}} {{ partidos.eq_visita }}
        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>
</ion-content>