//Game detail page style

ion-title{
    color:  #6a040f;
    font-size: large;
}

ion-content{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier;
}

ion-back-button{
    --color: #80ffdb;
}

.button1{
    --color: #80ffdb; 
}

.button2{
    --background: #6a040f;
    --color: #80ffdb;
    font-family: 'Courier New', Courier, monospace;
}

.button3{
    --background: #6a040f;
    --color: #80ffdb;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-style: italic;
    border-style: solid;
    border-color: #80ffdb;
}    
