<!--Game Detail-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/partidos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ partidos.id_part}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="deletePartido()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-button (click)="detenerPartido()" class="button">
  <ion-icon name="pause-outline"></ion-icon>
    Finalizar partido
</ion-button>

<ion-content padding>
  <br>
  <div padding>Equipos:
    <br>
    {{partidos.eq_casa}} vs {{partidos.eq_visita}}
  </div>
  <br>
  <div padding>Fecha:
    <br>
    {{partidos.fecha_part}}
  </div>
  <br>
  <div padding>Marcador:
    <br>
    {{partidos.marcador_casa}} - {{partidos.marcador_visita}}
  </div>
  <br>
  <div padding>Eventos:
    <br>
    {{partidos.eventos}}
  </div>
  <br>
</ion-content>